body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for the whole body */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #060043;
    padding: 2vh 5vw;
}

.navbarTitle {
    color: white;
    font-size: 1.5vw;
    font-weight: 700; /* Bold weight */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 2vw;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 400; /* Regular weight */
}

.navbar a:hover {
    color: #6bff61;
}

main {
    padding: 5vh 2vw;
    max-width: 90vw;
    margin: 0 auto;
}

.intro {
    text-align: center;
    font-size: 3vw;
}

.intro name {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
}

.intro job {
    text-align: center;
    font-size: 2vw;
}

.video-container {
    text-align: center;
    margin: 5vh 0;
}

.personal-statement personalStatementTitle {
    font-size: 2.5vw;
}

.personal-statement p {
    font-size: 1.2vw;
    line-height: 1.6;
    margin-top: 2vh;
}

section h3 {
    font-size: 2.5vw;
    margin-top: 5vh;
}

hr {
    border: none;
    border-top: 0.3vh solid #ccc;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

footer {
    background-color: #060043;
    color: white;
    text-align: center;
    padding: 2vh 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
